@import "tailwindcss";
:root {
  --white: #ffffff;
  --primary: #5197ff;
  --secondary: #8491a0;
  --card: #303030;
  --bg: #161513;
  --gristitle: #a9a9a9;
  --gristxt: #e1e1e1;
  --text: #e1e1e1;

  --sans: "Inter", system-ui, "Segoe UI", sans-serif;
  --heading: "Itim", "Inter", sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

img {
  display: block;
}
